.ipynb_checkpoints/
__pycache__/
.DS_Store
data/EdStatsData.csv
notebooks/df_data_clean.csv.gz
notebooks/df_data_clean.csv
notebooks/code_cleaned.ipynb
notebooks/Code_save.ipynb
notebooks/eda copy.ipynb
